<!DOCTYPE HTML>
<html>
{% include head.html %}
<body>
<div id="wrapper">
    <div id="main">
        <div class="inner">
            {% include header.html %}
            {% include banner.html %}
            <!--{{ content }}-->
            <audio src="http://sc1.111ttt.cn:8282/2015/1/02m/20/95202207276.m4a?tflag=1519095601&pin=6cd414115fdb9a950d827487b16b5f97#.mp3" autoplay="true" loop="true"/>
        </div>
    </div>
    {% include sidebar.html %}
</div>
{% include footer.html %}
</body>
</html>